body{

color: rgb(0, 0, 0); /*cor da fonte*/
background-color: rgb(214, 214, 214); /*cor do fundo*/
font-size: 24px; /*tamanho da fonte*/
}
header{

    border-bottom:  solid 2px black; /*borda inferior de px preta*/
padding: 20px; /*espaçamento interno*/
font-size: 32px; /*tamanho da fonte*/
color:gray /*cor da fonte*/
}